.App {
  text-align: center;
  height: 100%;
}

.app-main {
  margin-top: 64px;
}

.carItem {
  width: 100%;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(172, 172, 172);
}

.caritemImgCar {
  width: 100%;
}

.carName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carName p {
  margin-left: 20px;
  color: gray;
  font-weight: 500;
}

.carName #viewLink {
  margin-right: 20px;
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.carListContainer {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.carListContainerCar {
  width: 100%;
}

.carItemCar {
  display: flex;  
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin-bottom: 50px;
  background-color: white;
}

.cackbtn {
  position: fixed;
  top: 10px;
  left: 80px;
  margin-left: 5%;
  width: 50px;
  z-index: 300;
  padding-right: 20px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.cackbtn a {
  text-decoration: none;  
  color: gray;
}

.car-detail-table {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
}

.carItemCar h2 {
  margin: 20px;
  padding-left: 30px;
  color: rgb(53, 52, 52);
}

.carItemCar p {
  font-size: 20px;
  padding: 10px;
  color: gray;
  margin: 0;
  padding-left: 50px;
}

.fav-button {
  width: 100%;
  border: none;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background-color: tomato;
  font-size: 20px;
  cursor: pointer;
}
