.signin p {
  font-size: 25px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.signin-form input {
  margin-bottom: 20px;
}

.signup p {
  font-size: 25px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.signup-form input {
  margin-bottom: 20px;
}

.cancelSign {
  width: 300px;
  text-decoration: none;
  color: gray;
}
